.separate {
  display: flex;

  &__item {
    display: block;
    fill: currentColor;
  }

  &__skills {
    color: #fff;
    .separate__item {
      width: 50%;
      height: 120px;
    }
  }

  &__reviews {
    color: #fff;
    .separate__item {
      width: 100%;
      height: 90px;
    }
  }
}