.title-section {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-size: 72px;
    font-weight: 800;
  }

  &__small {
    font-size: 18px;
    font-weight: 600;
    color: rgba(#484D62, .4);
    max-width: 160px;
    text-align: center;
  }

}