section.about
    .container.about__container
        .profile
            .profile__left-side
                .avatar
                    +image('userfiles/user2.jpg', 'user-pic')
                .data
                    ul.data__list
                        li.data__list_item
                            span.data__list_quest Проживаю:
                            span.data__list_answr Москва
                        li.data__list_item
                            span.data__list_quest Возраст:
                            span.data__list_answr 32 года
                        li.data__list_item
                            span.data__list_quest Родился:
                            span.data__list_answr 2 мая 1987


            .profile__right-side
                .profile__descr
                    h2.title <span class="title__inner">Привет, меня зовут</span> Дельмин Даниелов
                    .text.profile__text Я&nbsp;занимаюсь разработкой современных сайтов и&nbsp;приложений. Мне нравится делать интересные и&nbsp;современные проекты.
                blockquote.quote Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой контент. А&nbsp;пока посмотрите, как тут всё классно и&nbsp;красиво!

