section.reviews
    .separate.separate__reviews
        svg.separate__item(viewBox='0 0 1000 90' preserveAspectRatio='none')
            polygon(points="0,0 500,90, 1000,0")
    #reviews


//Vue-templates for circles chart:

script(type="text/x-template")#reviews-container
    .container
        .reviews__content
            reviewsNav(@slide="toSlideReviews", :currentIndex="currentIndex", :currentSlide = "currentSlide")
            reviewsRow(:reviews = "reviews", :currentSlide = "currentSlide", :currentIndex="currentIndex")

script(type="text/x-template")#reviews-nav
    .reviews__top
        h2.title.reviews__title Что обо мне говорят
        .reviews__control
            .control
                button.control__btn.control__btn_left(@click = "$emit('slide', 'prev')")
                    +icon('arrow-down', 'control__arrow')
                button.control__btn.control__btn_right(@click = "$emit('slide', 'next')")
                    +icon('arrow-down', 'control__arrow')

script(type="text/x-template")#reviews-row
    .reviews__content-slider
        .wrapper
            reviewsSlide(:reviews = "reviews", :currentSlide = "currentSlide")


script(type="text/x-template")#reviews-slide
    .content-slider
        .content-slider__item(v-for="item in currentSlide")
            reviewUnit(:item = "item", :currentSlide = "currentSlide", :reviews = "reviews")

script(type="text/x-template")#review-unit
    .review
        .content-slider__text.text {{ item.text }}
        .content-slider__caption
            .author
                .avatar.author__avatar
                    img(:src='item["author-pic"]' class="user-pic")

                .author__data
                    .author__name {{ item['author-name'] }}
                    .author__position {{ item['author-occ']}}