section.skills
    .container
        .skills-board
            .skills-board__left
                +image('content/bag.png', 'skills__img')
            .skills-board__right
                h2.title.title_small.skills-board__title Чем я&nbsp;могу быть полезен вам
                .text.skills-board__text Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой контент. А&nbsp;пока посмотрите, как тут всё классно и&nbsp;красиво!
                +chart('Front-end', ['html', 'pug', 'sass', 'js'])
