section.skills
    .separate.separate__skills
        svg.separate__item(viewBox='0 0 1000 100' preserveAspectRatio='none')
            polygon(points="0,0 0,100, 1000, 100")
        svg.separate__item(viewBox='0 0 1000 100' preserveAspectRatio='none')
            polygon(points="1000,0 1000,100, 0,100")
    .container
        .skills-board
            .skills-board__content
                h2.title.title_small.skills-board__title Чем я&nbsp;могу быть полезен вам
                .text.skills-board__text Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. Чуть позже я&nbsp;освежу в&nbsp;нём свой контент. А&nbsp;пока посмотрите, как тут всё классно и&nbsp;красиво!
                +chart('Front-end', ['HTML5', 'CSS3', 'Javascript', 'Vue.js'])
                +chart('Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack'])
.mobile-bag
    +image('content/bag.png', 'mobile-bag__img')