section.title-section
    .container.title-section__container
        h1.title-section__title  <span class="title-section__small">Личный сайт<br>веб&nbsp;разработчика</span>Delmin <br>Danielov
        a.scroll-trigger(href="#") Скролл
            +icon('scroll', 'scroll-trigger__icon')


