section.title-section
    .container.title-section__container
        h1.title-section__main-title  <span class="main-title__inner">Личный сайт<br>веб&nbsp;разработчика</span>Delmin <br>Danielov
        a.scroll-trigger(href="#about") Скролл
            +icon('scroll', 'scroll-trigger__icon')


